.block.cf-teaser-selector.cf-teaser-selector .cf-teaser {
  --teaser-color1: 255,255,255;
  --teaser-color2: 48,48,48;

  position: relative;
  color: rgb(var(--teaser-color1));
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 200px;
}

.block.cf-teaser-selector.cf-teaser-selector.dark .cf-teaser {
  --teaser-color1: 48,48,48;
  --teaser-color2: 255,255,255;  
}

.block.cf-teaser-selector .cf-teaser .teaser-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.block.cf-teaser-selector .cf-teaser .teaser-background img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
  position: static;
}

.block.cf-teaser-selector .cf-teaser .teaser-content {
  position: relative;
  z-index: 2;
  padding: 2rem;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block.cf-teaser-selector.right .cf-teaser .teaser-content {
  flex-direction: row;
  justify-content: space-evenly;
}

.block.cf-teaser-selector .cf-teaser .teaser-text {
  margin-bottom: 1.5rem;
}

.block.cf-teaser-selector .cf-teaser .teaser-text .title {
  margin: 0 0 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
}

.block.cf-teaser-selector .cf-teaser .teaser-text .description {
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.5;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.block.cf-teaser-selector .cf-teaser .teaser-cta {
  margin-top: auto;
}

.block.cf-teaser-selector .cf-teaser .teaser-cta .button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  color: rgb(var(--teaser-color1));
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  background-color: rgb(var(--teaser-color2),0.5);
}

.block.cf-teaser-selector .cf-teaser .teaser-cta .button:hover {
  background-color: rgb(var(--teaser-color1));
  color: rgb(var(--teaser-color2));
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgb(0 0 0 / 30%);
}
